---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/claracmy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1487898972'
      Etag:
      - W/"f3b4b0a593d12a7a02e99d5a990c1d5f"
      Last-Modified:
      - Thu, 23 Feb 2017 21:46:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"claracmy","id":11037115,"avatar_url":"https://avatars.githubusercontent.com/u/11037115?v=3","gravatar_id":"","url":"https://api.github.com/users/claracmy","html_url":"https://github.com/claracmy","followers_url":"https://api.github.com/users/claracmy/followers","following_url":"https://api.github.com/users/claracmy/following{/other_user}","gists_url":"https://api.github.com/users/claracmy/gists{/gist_id}","starred_url":"https://api.github.com/users/claracmy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/claracmy/subscriptions","organizations_url":"https://api.github.com/users/claracmy/orgs","repos_url":"https://api.github.com/users/claracmy/repos","events_url":"https://api.github.com/users/claracmy/events{/privacy}","received_events_url":"https://api.github.com/users/claracmy/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":">
        Frogcase\r\n> Pharmacist\r\n","public_repos":5,"public_gists":0,"followers":0,"following":0,"created_at":"2015-02-16T23:43:32Z","updated_at":"2017-02-23T21:46:32Z"}'
  recorded_at: Fri, 24 Feb 2017 00:16:12 GMT
- request:
    method: get
    uri: https://api.github.com/users/claracmy/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1487898972'
      Etag:
      - W/"cc240afed725912982cf131cdaa4caf8"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":74378719,"name":"CanILaunch","full_name":"claracmy/CanILaunch","owner":{"login":"claracmy","id":11037115,"avatar_url":"https://avatars.githubusercontent.com/u/11037115?v=3","gravatar_id":"","url":"https://api.github.com/users/claracmy","html_url":"https://github.com/claracmy","followers_url":"https://api.github.com/users/claracmy/followers","following_url":"https://api.github.com/users/claracmy/following{/other_user}","gists_url":"https://api.github.com/users/claracmy/gists{/gist_id}","starred_url":"https://api.github.com/users/claracmy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/claracmy/subscriptions","organizations_url":"https://api.github.com/users/claracmy/orgs","repos_url":"https://api.github.com/users/claracmy/repos","events_url":"https://api.github.com/users/claracmy/events{/privacy}","received_events_url":"https://api.github.com/users/claracmy/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/claracmy/CanILaunch","description":"Rails
        App","fork":false,"url":"https://api.github.com/repos/claracmy/CanILaunch","forks_url":"https://api.github.com/repos/claracmy/CanILaunch/forks","keys_url":"https://api.github.com/repos/claracmy/CanILaunch/keys{/key_id}","collaborators_url":"https://api.github.com/repos/claracmy/CanILaunch/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/claracmy/CanILaunch/teams","hooks_url":"https://api.github.com/repos/claracmy/CanILaunch/hooks","issue_events_url":"https://api.github.com/repos/claracmy/CanILaunch/issues/events{/number}","events_url":"https://api.github.com/repos/claracmy/CanILaunch/events","assignees_url":"https://api.github.com/repos/claracmy/CanILaunch/assignees{/user}","branches_url":"https://api.github.com/repos/claracmy/CanILaunch/branches{/branch}","tags_url":"https://api.github.com/repos/claracmy/CanILaunch/tags","blobs_url":"https://api.github.com/repos/claracmy/CanILaunch/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/claracmy/CanILaunch/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/claracmy/CanILaunch/git/refs{/sha}","trees_url":"https://api.github.com/repos/claracmy/CanILaunch/git/trees{/sha}","statuses_url":"https://api.github.com/repos/claracmy/CanILaunch/statuses/{sha}","languages_url":"https://api.github.com/repos/claracmy/CanILaunch/languages","stargazers_url":"https://api.github.com/repos/claracmy/CanILaunch/stargazers","contributors_url":"https://api.github.com/repos/claracmy/CanILaunch/contributors","subscribers_url":"https://api.github.com/repos/claracmy/CanILaunch/subscribers","subscription_url":"https://api.github.com/repos/claracmy/CanILaunch/subscription","commits_url":"https://api.github.com/repos/claracmy/CanILaunch/commits{/sha}","git_commits_url":"https://api.github.com/repos/claracmy/CanILaunch/git/commits{/sha}","comments_url":"https://api.github.com/repos/claracmy/CanILaunch/comments{/number}","issue_comment_url":"https://api.github.com/repos/claracmy/CanILaunch/issues/comments{/number}","contents_url":"https://api.github.com/repos/claracmy/CanILaunch/contents/{+path}","compare_url":"https://api.github.com/repos/claracmy/CanILaunch/compare/{base}...{head}","merges_url":"https://api.github.com/repos/claracmy/CanILaunch/merges","archive_url":"https://api.github.com/repos/claracmy/CanILaunch/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/claracmy/CanILaunch/downloads","issues_url":"https://api.github.com/repos/claracmy/CanILaunch/issues{/number}","pulls_url":"https://api.github.com/repos/claracmy/CanILaunch/pulls{/number}","milestones_url":"https://api.github.com/repos/claracmy/CanILaunch/milestones{/number}","notifications_url":"https://api.github.com/repos/claracmy/CanILaunch/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/claracmy/CanILaunch/labels{/name}","releases_url":"https://api.github.com/repos/claracmy/CanILaunch/releases{/id}","deployments_url":"https://api.github.com/repos/claracmy/CanILaunch/deployments","created_at":"2016-11-21T15:41:59Z","updated_at":"2016-11-21T15:44:37Z","pushed_at":"2016-11-21T15:44:36Z","git_url":"git://github.com/claracmy/CanILaunch.git","ssh_url":"git@github.com:claracmy/CanILaunch.git","clone_url":"https://github.com/claracmy/CanILaunch.git","svn_url":"https://github.com/claracmy/CanILaunch","homepage":null,"size":690,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":30918898,"name":"claracmy.github.io","full_name":"claracmy/claracmy.github.io","owner":{"login":"claracmy","id":11037115,"avatar_url":"https://avatars.githubusercontent.com/u/11037115?v=3","gravatar_id":"","url":"https://api.github.com/users/claracmy","html_url":"https://github.com/claracmy","followers_url":"https://api.github.com/users/claracmy/followers","following_url":"https://api.github.com/users/claracmy/following{/other_user}","gists_url":"https://api.github.com/users/clar[...]
