---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/emptytestuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1487914366'
      Etag:
      - W/"c3555a98f8224959359a70a8da4c006d"
      Last-Modified:
      - Fri, 24 Feb 2017 04:29:37 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"emptytestuser","id":25996144,"avatar_url":"https://avatars.githubusercontent.com/u/25996144?v=3","gravatar_id":"","url":"https://api.github.com/users/emptytestuser","html_url":"https://github.com/emptytestuser","followers_url":"https://api.github.com/users/emptytestuser/followers","following_url":"https://api.github.com/users/emptytestuser/following{/other_user}","gists_url":"https://api.github.com/users/emptytestuser/gists{/gist_id}","starred_url":"https://api.github.com/users/emptytestuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/emptytestuser/subscriptions","organizations_url":"https://api.github.com/users/emptytestuser/orgs","repos_url":"https://api.github.com/users/emptytestuser/repos","events_url":"https://api.github.com/users/emptytestuser/events{/privacy}","received_events_url":"https://api.github.com/users/emptytestuser/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2017-02-24T04:29:37Z","updated_at":"2017-02-24T04:29:37Z"}'
  recorded_at: Fri, 24 Feb 2017 04:32:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/emptytestuser/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1487914366'
      Etag:
      - W/"498d3d1d4f1f755e990188f1f7e255f9"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":83001276,"name":"emptyrepo","full_name":"emptytestuser/emptyrepo","owner":{"login":"emptytestuser","id":25996144,"avatar_url":"https://avatars.githubusercontent.com/u/25996144?v=3","gravatar_id":"","url":"https://api.github.com/users/emptytestuser","html_url":"https://github.com/emptytestuser","followers_url":"https://api.github.com/users/emptytestuser/followers","following_url":"https://api.github.com/users/emptytestuser/following{/other_user}","gists_url":"https://api.github.com/users/emptytestuser/gists{/gist_id}","starred_url":"https://api.github.com/users/emptytestuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/emptytestuser/subscriptions","organizations_url":"https://api.github.com/users/emptytestuser/orgs","repos_url":"https://api.github.com/users/emptytestuser/repos","events_url":"https://api.github.com/users/emptytestuser/events{/privacy}","received_events_url":"https://api.github.com/users/emptytestuser/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/emptytestuser/emptyrepo","description":null,"fork":false,"url":"https://api.github.com/repos/emptytestuser/emptyrepo","forks_url":"https://api.github.com/repos/emptytestuser/emptyrepo/forks","keys_url":"https://api.github.com/repos/emptytestuser/emptyrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/emptytestuser/emptyrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/emptytestuser/emptyrepo/teams","hooks_url":"https://api.github.com/repos/emptytestuser/emptyrepo/hooks","issue_events_url":"https://api.github.com/repos/emptytestuser/emptyrepo/issues/events{/number}","events_url":"https://api.github.com/repos/emptytestuser/emptyrepo/events","assignees_url":"https://api.github.com/repos/emptytestuser/emptyrepo/assignees{/user}","branches_url":"https://api.github.com/repos/emptytestuser/emptyrepo/branches{/branch}","tags_url":"https://api.github.com/repos/emptytestuser/emptyrepo/tags","blobs_url":"https://api.github.com/repos/emptytestuser/emptyrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/emptytestuser/emptyrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/emptytestuser/emptyrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/emptytestuser/emptyrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/emptytestuser/emptyrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/emptytestuser/emptyrepo/languages","stargazers_url":"https://api.github.com/repos/emptytestuser/emptyrepo/stargazers","contributors_url":"https://api.github.com/repos/emptytestuser/emptyrepo/contributors","subscribers_url":"https://api.github.com/repos/emptytestuser/emptyrepo/subscribers","subscription_url":"https://api.github.com/repos/emptytestuser/emptyrepo/subscription","commits_url":"https://api.github.com/repos/emptytestuser/emptyrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/emptytestuser/emptyrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/emptytestuser/emptyrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/emptytestuser/emptyrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/emptytestuser/emptyrepo/contents/{+path}","compare_url":"https://api.github.com/repos/emptytestuser/emptyrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/emptytestuser/emptyrepo/merges","archive_url":"https://api.github.com/repos/emptytestuser/emptyrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/emptytestuser/emptyrepo/downloads","issues_url":"https://api.github.com/repos/emptytestuser/emptyrepo/issues{/number}","pulls_url":"https://api.github.com/repos/emptytestuser/emptyrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/emptytestuser/emptyrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/emptytestuser/emptyrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/emptytestuser/emptyrepo/labels{/name}","releases_url":"https://api.github.com/repos/emptytestuser/emptyrepo/releases{/id}","deployments_url":"https://api.github.com/repos/emptytestuser/emptyrepo/deployments","created_at":"2017-02-24T04:30:18Z","updated_at":"2017-02-24T04:30:18Z","pushed_at":"2017-02-24T04:30:19Z","git_url":"git://github.com/emptytestuser/emptyrepo.git","ssh_url":"git@github.com:emptytestuser/emptyrepo.git","clone_url":"https://github.com/emptytestuser/emptyrepo.git","svn_url":"https://github.com/emptytestuser/emptyrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}]'
  recorded_at: Fri, 24 Feb 2017 04:32:48 GMT
recorded_with: VCR 3.0.3
