---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/johnc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Reset:
      - '1487852552'
      Etag:
      - W/"d76ed9f0046c242ad25208eba856f66a"
      Last-Modified:
      - Mon, 28 Nov 2016 20:55:35 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"johnc","id":22205,"avatar_url":"https://avatars.githubusercontent.com/u/22205?v=3","gravatar_id":"","url":"https://api.github.com/users/johnc","html_url":"https://github.com/johnc","followers_url":"https://api.github.com/users/johnc/followers","following_url":"https://api.github.com/users/johnc/following{/other_user}","gists_url":"https://api.github.com/users/johnc/gists{/gist_id}","starred_url":"https://api.github.com/users/johnc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/johnc/subscriptions","organizations_url":"https://api.github.com/users/johnc/orgs","repos_url":"https://api.github.com/users/johnc/repos","events_url":"https://api.github.com/users/johnc/events{/privacy}","received_events_url":"https://api.github.com/users/johnc/received_events","type":"User","site_admin":false,"name":"John
        Castellucci","company":null,"blog":null,"location":"Marin County, CA","email":"johnc@paynearme.com","hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":2,"following":0,"created_at":"2008-08-27T15:11:55Z","updated_at":"2016-11-28T20:55:35Z"}'
  recorded_at: Thu, 23 Feb 2017 11:50:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/johnc/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1487852552'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Feb 2017 11:50:05 GMT
recorded_with: VCR 3.0.3
